header {
    background: #28a745; 
    color: white;
    padding: 1rem 0;
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #218838; 
    border-radius: 4px;
}

.pop {
  transition: transform 0.2s ease-in-out;
}

.pop:hover {
  transform: scale(1.05);
}
.pop1 {
  transition: transform 0.2s ease-in-out;
}

.pop1:hover {
  transform: scale(1.2);
}


.slide-right {
  transform: translateX(-40px);
  opacity: 0;
  animation: slideRight 0.5s ease-out forwards;
}

@keyframes slideRight {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-up {
  transform: translateY(20px);
  opacity: 0;
  animation: slideUp 0.5s ease forwards;
}

@keyframes slideUp {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
   background:#eef2f3;
    padding: 0;
}


.service-section {
    padding: 100px 12px;
    text-align: center;
}

.service-section h2 {
    font-size: 40px;
    color: white;
    margin-bottom: 2px;
}

.service-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.box {
    background: white;
    width: 350px;
    padding: 25px;
    border-radius: 10px;
    border: 3px solid white;
    transition: 0.5s ease;
    box-shadow: 0px 0px 0px ;
}

.box h3 {
    font-size: 22px;
    margin-bottom: 20px;
    color: #007bff ;
}

.box p {
    font-size: 15px;
    color: #444;
}

.box a {
    display: inline-block;
    margin-top: 12px;
    padding: 10px 18px;
    background: #00c853;
    color: white;
    text-decoration: none;
    font-size: 14px;
    border-radius: 6px;
    transition: 0.2s;
}

.box a:hover {
    background: #4fc3f7;
}
footer {
    background: black;
    color: white;
    text-align: center;
    padding: 8px;
    width: 100%;
    margin-top: auto;
}