body {
    font-family: Arial, sans-serif;
    background-color: #e9f7ef; 
    margin: 0;
    padding: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 30px; 
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #218838;
    border-radius: 4px;
}

header {
    background-color: #28a745; 
    color: white;
    text-align: center;
    padding: 20px;
}

h2 {
    color: #2e7d32;
}

.container {
    width: 90%;
    margin: auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
}

.section {
    border-left: 5px solid #66bb6a; 
    padding-left: 15px;
    margin-bottom: 25px;
    background: #f1f8f4;
    padding: 15px;
    border-radius: 5px;
}
a {
    color: white;
    text-decoration: none;
    padding:  0.5rem 1rem;
}

a:hover {
    background-color: lightgreen;
    border-radius: 4px;
    color: white ;	

}

footer {
    text-align: center;
    background: #1b5e20; 
    color: white;
    padding: 10px;
    margin-top: 20px;
}
footer {
    background: black;
    color: white;
    text-align: center;
    padding: 8px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.pop {
  transition: transform 0.2s ease-in-out;
}

.pop:hover {
  transform: scale(1.05); 
}
.slide-right {
  transform: translateX(-40px);
  opacity: 0;
  animation: slideRight 1s ease-out forwards;
}

@keyframes slideRight {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-up {
  transform: translateY(20px);
  opacity: 0;
  animation: slideUp 1s ease forwards;
}

@keyframes slideUp {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}